.teamevalquestion-comment-container h3 {
    margin: 0;
}

.teamevalquestion-comment-container .description {
    margin-bottom: 1em;
}

.teamevalquestion-comment-container table.comments {
    box-sizing: border-box;
    width: 100%;
}

.teamevalquestion-comment-container .comments th {
    vertical-align: top;
    padding-right: 1em;
    width: 1px;
    white-space: nowrap;
}

.teamevalquestion-comment-container .comments textarea {
    box-sizing: border-box;
    width: 100%;
}