.local-teameval-containerbox {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #EEE;
    margin:10px;
    padding:10px;
    position: relative;
}

#local-teameval-settings-button {
	float:right;
	padding: 2px;
    background-image:url([[pix:core|i/settings]]);
    width:20px;
    height:20px;
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#local-teameval-settings-button:hover {
	background-color:#DDD;
}

.local-teameval-settings-container {
	background-color: rgba(250, 250, 250, 0.95);
	padding: 5px;
	border-radius: 10px;
    margin-bottom:10px;
}

    .local-teameval-settings-container th {
        text-align: right;
        font-weight: bold;
    }

#local-teameval-add-question a::before {
    content: url([[pix:core|t/add]]);
}

.local-teameval-question-dropdown {
    position:absolute;
    border: 1px solid black;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    min-width: 200px;
}

.local-teameval-question-dropdown li {
    list-style: none;
    margin:0px;
    padding:5px;
    background-color: #FFF;
    cursor: pointer;
}

    .local-teameval-question-dropdown li:hover {
        background-color:#CCC;
    }