.local-teameval-containerbox {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #EEE;
    margin:10px;
    padding:10px;
    position: relative;
}

    .local-teameval-containerbox .tabs {
        border-bottom: 1px solid #CCC;
        margin-bottom: 1em;
    }

    .local-teameval-containerbox .tabs ul {
        display: block;
        text-align: center;
        white-space: collapse;
    }

    .local-teameval-containerbox .tabs li {
        list-style: none;
        display: inline-block;
        padding: .7em 1em;
        cursor: pointer;
        z-index: 1;
        margin:0;
        font-size: 125%;
    }


    .local-teameval-containerbox .tab-content {
        display:none;
    }

    .local-teameval-containerbox .tab-content:first-of-type {
        display:block;
    }

.local-teameval-settings-button {
	float:right;
	padding: 2px;
    background-image:url([[pix:core|i/settings]]);
    width:20px;
    height:20px;
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.local-teameval-settings-button:hover {
	background-color:#DDD;
}

.local-teameval-settings-container {
	background-color: rgba(250, 250, 250, 0.95);
	padding: 5px;
	border-radius: 10px;
    margin-bottom:10px;
    display: none;
}

    .local-teameval-settings-container th {
        text-align: right;
        font-weight: bold;
    }

#local-teameval-add-question a::before {
    content: url([[pix:core|t/add]]);
}

.local-teameval-question-dropdown {
    position:absolute;
    border: 1px solid black;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    min-width: 200px;
}

.local-teameval-question-dropdown li {
    list-style: none;
    margin:0px;
    padding:5px;
    background-color: #FFF;
    cursor: pointer;
}

    .local-teameval-question-dropdown li:hover {
        background-color:#CCC;
    }

#local-teameval-questions {
    margin:0;
    margin-right:26px;
}

#local-teameval-questions .local-teameval-question {
    list-style: none;
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
}

    #local-teameval-questions .local-teameval-question:hover {
        background-color:#F9F9F9;
    }

        #local-teameval-questions .local-teameval-question:hover .local-teameval-question-actions {
            visibility: visible;
        }

    #local-teameval-questions .local-teameval-question.editing {
        background-color:#F9F9F9;
        border: 1px solid #2E4B87;
        border-radius: 5px;
    }

    #local-teameval-questions .local-teameval-question .ui-blocker {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: hsla(0, 0%, 70%, 0.3);
    }

.local-teameval-question-actions {
    float:right;
    visibility: hidden;
}

    .local-teameval-question-actions img {
        cursor:pointer;
    }

        .local-teameval-question-actions .move img {
            cursor:move;
        }

.local-teameval-save-cancel-buttons {
    margin-top:10px;
}

.local-teameval-submit-buttons .results {
    display:none;
    color:red;
}

.local-teameval-release-container .release-all {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

.local-teameval-release-container .group header {
    margin: 10px 0;
}

    .local-teameval-release-container .group header h3 {
        margin: 0;
        margin-right: 10px;
        float: left;
    }

    .local-teameval-release-container .group header .group-grade {
        font-style: italic;
    }

    .local-teameval-release-container .group header .group-release-switch {
        font-weight: bold;
    }

.local-teameval-release-container .group table {
    width: 100%;
}

    .local-teameval-release-container .group tr:nth-child(even) td {
        background-color: rgba(0,0,0,0.025);
    }

.local-teameval-switch {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    border: 1px dotted #666;
    box-sizing: border-box;
    position: relative;
    transition: border 0.2s, background 0.2s, box-shadow 0.2s;
    -webkit-transition: border 0.2s, background 0.2s, box-shadow 0.2s;
}
    
    .local-teameval-switch.checked {
        border: 1px solid #333;
        background-color: rgb(59, 235, 59);
        box-shadow: rgb(25, 201, 25);
    }

    .local-teameval-switch.overridden {
        background-color:rgba(59, 235, 59, 0.1);
    }

.local-teameval-switch .toggle {
    background-color: #fff;
    border-color:#999;
    width: 13px;
    height: 13px;
    border-radius: 14px;
    box-shadow: 0 1px #ccc;
    top: 2px;
    left: 2px;
    position: absolute;
    transition: left 0.2s, background-color 0.4s;
    -webkit-transition: left 0.2s, background-color 0.4s;
    font-size: 18px;
    line-height: 50%;
    text-align: center;
}

    .local-teameval-switch.checked .toggle {
        left: 31px;
    }

    .local-teameval-switch.overridden .toggle {
        background-color: #ccc;
    }

    .local-teameval-switch .toggle .loading-indicator {
        display: none;
    }

