<div id="local-teameval-add-question-{{uniqid}}" class="local-teameval-add-question mdl-right">
<a href="javascript:void(0);">{{#str}} addquestion, local_teameval {{/str}}</a>
</div>
<div class="local-teameval-template-search ui-front">
<label>{{#str}} addquestionsfrom, local_teameval {{/str}}<input type="text" id="template-search-{{uniqid}}" /></label>
<button type="btn btn-default">{{#str}} add {{/str}}</button>
</div>