<div class="local-teameval-question-actions">
<span class="edit">{{#pix}} i/edit, core, edit question {{/pix}}</span>
<span class="delete">{{#pix}} t/delete, core, delete question {{/pix}}</span>
</div>