<div class="local-teameval-questionnaire">
<div class="deadline">{{#str}} deadline, local_teameval {{/str}}: <time>{{deadline}}</time></div>
<ol id="local-teameval-questions">
{{#questions}}
    <li class="local-teameval-question" id="teameval-{{type}}-question-{{questionid}}-{{uniqid}}">
    	<div class="question-container">
	    	{{{content}}}
    	</div>
    </li>
{{/questions}}
</ol>
</div>
{{#js}}{{#_notset}}<script>{{/_notset}}
require(['jquery'], function($) {

	{{#questions}}
		var el = $('#teameval-{{type}}-question-{{questionid}}-{{uniqid}}');
		el.data('questionid', {{questionid}});
		el.data('questiontype', '{{type}}');
		el.data('submissioncontext', {{{submissioncontext}}});
		el.data('editingcontext', {{{editingcontext}}});
	{{/questions}}

});
{{/js}}