<div class="local-teameval-save-cancel-buttons">
<button type="button" class="save">{{#str}}save, local_teameval{{/str}}</button> <button type="button" class="cancel">{{#str}}cancel, core{{/str}}</button>
</div>