<div class="local-teameval-settings-button">Settings</div>
<div class="local-teameval-settings-container">
<h2 class="local-teameval-settings">{{#str}}settings, local_teameval{{/str}}</h2>
{{{form}}}
</div>
{{#js}}
{{#_notset}}<script>{{/_notset}}

require(['local_teameval/settings'], function(Settings) {
    Settings.init();
});
{{/js}}