<div class="local-teameval-template-io">
<button class="btn" type="button" id="template-download-{{uniqid}}">{{#str}} downloadtemplate, local_teameval {{/str}}</button>
{{#showaddbutton}}
<button class="btn" type="button" id="template-upload-{{uniqid}}">{{#str}} uploadtemplate, local_teameval {{/str}}</button>
{{/showaddbutton}}
</div>
{{#js}}{{#_notset}}<script>{{/_notset}}
require(['jquery', 'core/yui', 'core/ajax', 'core/notification', 'local_teameval/addquestion'], function($, Y, Ajax, Notification, AddQuestion) {
	$('#template-download-{{uniqid}}').click(function() {
		window.location.href = "{{download}}";
	});

	{{#showaddbutton}}

	$('#template-upload-{{uniqid}}').click(function() {
		var instance = M.core_filepicker.instances['{{filepickerid}}'];
		instance.options.formcallback = function(file) {
			var promises = Ajax.call([{
				methodname: 'local_teameval_upload_template',
				args: {
					'id': {{teamevalid}},
					'itemid': {{filepickeritemid}},
					'file': file.file,
				}
			}]);

			promises[0].done(function(questions) {
				AddQuestion.initialised().done(function() {
					AddQuestion.addQuestions(questions);
				});
			});

			promises[0].fail(Notification.exception);
		}
		instance.show();
	});
	{{/showaddbutton}}
});
{{/js}}