<div>This is a editing test {{{test}}}</div>
{{#js}}
// This is necessary because require.js will NOT run synchronously
var questionContainer = document.querySelector('*[data-script-marker]');

require(['jquery'], function($) {
	
	questionContainer = $(questionContainer);

	questionContainer.on("save", function() {
		var deferred = $.Deferred();
		deferred.resolve();
		return deferred;
	});
});
{{/js}}