<div id="question-content-{{uniqid}}" class="teamevalquestion-likert-question-submission">
	<h3>{{title}}</h3>
	{{description}}
	<table class="responses">
		<thead>
			<tr>
				<th class="first">Name</th>
				{{#options}}
				<th style="width:{{optionswidth}}%">{{value}}{{#meaning}}: {{meaning}}{{/meaning}}</th>
				{{/options}}
			</tr>
		</thead>
		<tbody>
			{{#users}}
			<tr{{#self}} class="self"{{/self}}>
				<th class="first">{{name}}</th>
				{{#options}}
					<td><input type="radio" name="question-{{uniqid}}-marks-for-{{userid}}" data-touser="{{userid}}" value="{{value}}" {{#checked}}checked{{/checked}} /></td>
				{{/options}}
			{{/users}}
		</tbody>
	</table>
</div>
{{#js}}
require(['jquery', 'core/ajax', 'core/notification'], function($, ajax, notification) {
	var questionContainer = $('#question-content-{{uniqid}}').closest('.question-container');

	questionContainer.on("delete", function () {
		var promises = ajax.call([{
			methodname: 'teamevalquestion_likert_delete_question',
			args: {
				cmid: {{_cmid}},
				id: {{id}}
			}
		}]);

		return promises[0];
	});

	questionContainer.on("submit", function () {
		var marks = [];
		$('#question-content-{{uniqid}} .responses tbody input[type="radio"]:checked').each(function(v, k) {
			var toUser = $(this).data('touser');
			var m = {};
			m.touser = toUser;
			m.value = this.value;
			marks.push(m);
		});

		console.log(marks);

		var promises = ajax.call([{
			methodname: 'teamevalquestion_likert_submit_response',
			args: {
				cmid: {{_cmid}},
				id: {{id}},
				marks: marks
			}
		}]);

		return promises[0];
	});
});
{{/js}}